{% extends "layout.html.twig" %} 
{% block titulo %} CLIENTES **{{accion}}**
    <a href="{{path("queryCliente")}}" class="btn btn-success"> 
        <span class="glyphicon glyphicon-th-list"></span>  Volver</a>
    {% endblock %}

{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
    </div>
    {% include 'cliente/form.html.twig' %}

{% endblock %}