<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle btn-danger" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administración <span class="glyphicon glyphicon-cog"></span>
             <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{path("queryUsuario")}}">Gestión Usuarios</a></li>
        <li><a href="{{path("queryServicio")}}">Servicios</a></li>
    </ul>
</div>
