{% extends "layout.html.twig" %} 
{% block titulo %} GESTIÓN DE SERVICIOS-CONSULTA
<a href="{{path("addServicio")}}" class="btn btn-success">Nuevo Servicio</a>
{% endblock %}
{% block contenido %}
    
{% endblock %}